FriendRequest/FriendRequest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="FriendRequest"
  targetNamespace="urn:FriendRequest"
  xmlns:tns="urn:FriendRequest"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:FriendRequest"
  xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
  xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

  <schema targetNamespace="urn:FriendRequest"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns="urn:FriendRequest"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <complexType name="Input"><!-- Input -->
          <sequence>
            <element name="Id-sender" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- Input::Id_sender -->
            <element name="Id-receiver" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- Input::Id_receiver -->
          </sequence>
    </complexType>
    <!-- operation request element -->
    <element name="getInfo">
      <complexType>
          <sequence>
            <element name="fr" type="ns:Input" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__getInfo::fr -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element and type -->
    <element name="getInfoResponse" type="ns:getInfoResponse"/>
    <complexType name="getInfoResponse">
          <sequence>
            <element name="response" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__getInfoResponse::response -->
          </sequence>
    </complexType>
  </schema>

</types>

<message name="getInfo">
  <part name="Body" element="ns:getInfo"/><!-- ns__getInfo::ns__getInfo -->
</message>

<message name="getInfoResponse">
  <part name="Body" element="ns:getInfoResponse"/><!-- ns__getInfo::result_soap -->
</message>

<portType name="FriendRequestPortType">
  <operation name="getInfo">
    <documentation>Service definition of function ns__getInfo</documentation>
    <input message="tns:getInfo"/>
    <output message="tns:getInfoResponse"/>
  </operation>
</portType>

<binding name="FriendRequest" type="tns:FriendRequestPortType">
  <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="getInfo">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body parts="Body" use="literal"/>
    </input>
    <output>
          <SOAP:body parts="Body" use="literal"/>
    </output>
  </operation>
</binding>

<service name="FriendRequest">
  <documentation>gSOAP 2.8.36 generated service definition</documentation>
  <port name="FriendRequest" binding="tns:FriendRequest">
    <SOAP:address location="http://192.168.1.69/cgi-bin/FriendRequest.cgi"/>
  </port>
</service>

</definitions>
