OriginalKernelv1.0/RegistryOperations.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="RegistryOperations"
  targetNamespace="urn:RegistryOperations"
  xmlns:tns="urn:RegistryOperations"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:RegistryOperations"
  xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
  xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

  <schema targetNamespace="urn:RegistryOperations"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns="urn:RegistryOperations"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <complexType name="User"><!-- ns__User -->
          <sequence>
            <element name="Id" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__User::Id -->
            <element name="RegisterDate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__User::RegisterDate -->
            <element name="FLastName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__User::FLastName -->
            <element name="SLastName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__User::SLastName -->
            <element name="Name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__User::Name -->
            <element name="Telephone" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__User::Telephone -->
            <element name="Email" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__User::Email -->
            <element name="Delegation" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__User::Delegation -->
            <element name="Direction" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__User::Direction -->
            <element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__User::Status -->
          </sequence>
    </complexType>
    <!-- operation request element -->
    <element name="InsertUser">
      <complexType>
          <sequence>
            <element name="userIn" type="ns:User" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__InsertUser::userIn -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="InsertUserResponse">
      <complexType>
          <sequence>
            <element name="result-soap" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__InsertUser::result_soap -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="GetUser">
      <complexType>
          <sequence>
            <element name="user" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__GetUser::user -->
            <element name="pass" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__GetUser::pass -->
            <element name="userGet" type="ns:User" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__GetUser::userGet -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="GetUserResponse">
      <complexType>
          <sequence>
            <element name="result-soap" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__GetUser::result_soap -->
          </sequence>
      </complexType>
    </element>
  </schema>

</types>

<message name="InsertUserRequest">
  <part name="Body" element="ns:InsertUser"/><!-- ns__InsertUser::ns__InsertUser -->
</message>

<message name="InsertUserResponse">
  <part name="Body" element="ns:InsertUserResponse"/>
</message>

<message name="GetUserRequest">
  <part name="Body" element="ns:GetUser"/><!-- ns__GetUser::ns__GetUser -->
</message>

<message name="GetUserResponse">
  <part name="Body" element="ns:GetUserResponse"/>
</message>

<portType name="RegistryOperationsPortType">
  <operation name="InsertUser">
    <documentation>Service definition of function ns__InsertUser</documentation>
    <input message="tns:InsertUserRequest"/>
    <output message="tns:InsertUserResponse"/>
  </operation>
  <operation name="GetUser">
    <documentation>Service definition of function ns__GetUser</documentation>
    <input message="tns:GetUserRequest"/>
    <output message="tns:GetUserResponse"/>
  </operation>
</portType>

<binding name="RegistryOperations" type="tns:RegistryOperationsPortType">
  <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="InsertUser">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body parts="Body" use="literal"/>
    </input>
    <output>
          <SOAP:body parts="Body" use="literal"/>
    </output>
  </operation>
  <operation name="GetUser">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body parts="Body" use="literal"/>
    </input>
    <output>
          <SOAP:body parts="Body" use="literal"/>
    </output>
  </operation>
</binding>

<service name="RegistryOperations">
  <documentation>gSOAP 2.8.36 generated service definition</documentation>
  <port name="RegistryOperations" binding="tns:RegistryOperations">
    <SOAP:address location="http://localhost/cgi-bin/RegistryOperations.cgi"/>
  </port>
</service>

</definitions>
